input {
    /* border: 1px solid black; */
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}

.loc-card{
    border-radius: 30px;
}

img{
    border-radius: 10px;
}